.button{
    background:var(--color-01EA2B);
    color:var(--color-000);
    width:100%;
    border-radius: 0.4rem;
    height:4.4rem;
    font-weight:500;
    font-size:1.6rem;
    letter-spacing: 1.6rem * 0.0057;
    &:disabled{
        background:var(--color-EAECEF);
        color:var(--color-AEB5BC);
    }
}

.height56{
    height:5.6rem;
}