.button {
  background: var(--color-01EA2B);
  color: var(--color-000);
  width: 100%;
  border-radius: 0.4rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.114px;
  &:disabled {
    background: var(--color-EAECEF);
    color: var(--color-AEB5BC);
  }
}

.height56 {
  height: 5.6rem;
}

.width73 {
  width: 7.3rem;
  height: 3.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.085px;
  background: var(--color-4A5056);
  margin-left: 0.6rem;
  color: var(--color-fff);
}
.colorw {
  background: var(--color-4A5056);
  color: var(--color-F8F9FA);
  font-size: 1.6rem;
  letter-spacing: 0.091px;
}
.font20{
  font-size: 2rem;
  font-weight: 700;

}