.icon__x {
  cursor: pointer;
  transform: scale(1.2);
  path,
  rect {
    stroke-width: 0.2rem;
    stroke: #000;
  }
}

.vote--toggle {
  svg,
  path {
    stroke: #000;
  }
}

.post__statusbar {
  display: flex;
  justify-content: center;
  padding-top: 5.2rem;
  align-items: center;
  margin: 0 1.6rem 2rem;

  .newpost__upload {
    cursor: pointer;
    display: flex;
    width: 4.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--color-white-static-black, #111);
    text-align: center;
    border-radius: 0.2rem;
    background: var(--color-white-interaction-disable, #f4f4f5);

    /* text/label/Label 2 */
    font-family: Pretendard;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.95rem */
    letter-spacing: 0.0074rem;

    &:active {
      background-color: var(--color-white-primary-light, #bcff3a);
      color: var(--color-white-static-black, #111);
    }
  }

  .community__post__icons {
    display: flex;
    gap: 1.8rem;

    .community__post__bell,
    .community__post__mypage {
      svg {
        fill: #000;
      }
      path,
      rect,
      circle {
        stroke: #000;
      }
    }
    .community__post__mypage {
      path {
        fill: #000;
        stroke-width: 0.01rem;
      }
    }
  }

  .community__title {
    width: 100%;
    padding-left: 12%;
    color: #000;
    text-align: center;

    /* text/headline/Headline 2 */
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.4rem */
    letter-spacing: 0.0091rem;
  }
}

.community__icon__post {
  cursor: pointer;
  // position: absolute;
  left: 1.6rem;
  rect {
    fill: #fff;
  }
  path {
    fill: #000;
  }
}

/// 게시글 폼 ////

.communitypost {
  background-color: #fff;
  width: auto;
  height: auto;
  min-height: 81.2rem;
}

.post__detail__comments {
  border-top: 1rem solid rgba(112, 115, 124, 0.08);
}

.bottom__utils {
  margin-top: 3.8rem;
  display: flex;
  justify-content: space-between;

  .post__up {
    cursor: pointer;
    display: flex;
    width: 9rem;
    padding: 0.6rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    flex-shrink: 0;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--color-white-gray-3, #eaecef);
    background: #fff;

    color: var(--color-white-gray-7, #878e95);

    /* text/caption/Caption 1 */
    font-family: Pretendard;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.8rem */
    letter-spacing: 0.0068rem;
  }
}

.postdetail__section {
  margin: 0 1.6rem 2.4rem;
  width: auto;

  .post__detail__title {
    min-height: 4rem;
    align-items: center;
    display: flex;
    width: 100%;
    color: var(--color-white-gray-10, #222529);
    text-overflow: ellipsis;
    white-space: nowrap;

    /* text/headline/Headline 1 */
    font-family: Pretendard;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.7rem */
    letter-spacing: 0.0103rem;
  }
  .post__userInfo {
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    .post__detail__username {
      color: #000;

      /* text/Body 1/Heavy */
      font-family: Pretendard;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 1.8rem */
      letter-spacing: 0.0068rem;
    }
    .post__detail__utils {
      color: #666;

      /* text/caption/Caption 1 */
      font-family: Pretendard;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.8rem */
      letter-spacing: 0.0068rem;
    }
  }
}

//// 글쓰기 페이지 ////
///

.newpost__products__tag {
  display: flex;
  margin: 1.2rem 1.6rem;

  .newpost__product__tag {
    padding: 0.2rem 0.5rem;
    width: auto;
    margin-right: 0.8rem;
    justify-content: flex-start;

    color: #333;

    /* text/label/Label 3 */
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.5rem */
    letter-spacing: 0.0057rem;

    border-radius: 0.2rem;
    background: var(--color-white-primary-light, #bcff3a);
  }
}

.newpost {
  background-color: #fff;
  width: auto;
  height: auto;
  min-height: 81.2rem;
  position: relative;
}

.newpost__bottom__utils {
  position: absolute;
  width: calc(100% - 3.2rem);
  bottom: 0.8rem;
  display: flex;
  padding: 1.2rem 1.6rem 0.8rem;
  justify-content: center;
  gap: 1.2rem;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background: #fff;
  box-shadow: 0rem -0.5rem 0.3rem 0rem rgba(0, 0, 0, 0.06);
  color: var(--color-white-gray-9, #353a3f);
  /* text/label/Label 1 */
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.1rem */
  letter-spacing: 0.008rem;

  &--btn {
    cursor: pointer;
    display: flex;
    width: auto;
    flex: 1;
    border-radius: 0.4rem;
    border: 0.05rem solid var(--test-02, #01ea2b);
    background: #f1ffe8;
    padding: 0.7rem 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .likeproducts__tag {
      margin-right: 0.8rem;
      width: 1.8rem;
      height: 1.8rem;
      padding: 0.15rem;
      border-radius: 10rem;
      background: var(--test-02, #01ea2b);
    }
  }
}
.newpost__detail {
  width: auto;
  margin: 3.45rem 1.6rem 0;
  display: flex;
  flex-direction: column;

  .newpost--input {
    font-size: 2rem;
    border: none;
    height: 4rem;
    border-bottom: 0.1rem solid #dfe2e6;
    outline: none;
    padding-bottom: 0.8rem;

    overflow: hidden;
    color: var(--color-black-static-black, #111);
    text-overflow: ellipsis;
    white-space: nowrap;

    /* text/title/Title 3 */
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3rem */
    letter-spacing: 0.0114rem;

    &.main {
      padding-top: 0.8rem;
      margin-bottom: 3rem;
      height: auto;
      border: none;
      font-size: 1.6rem;

      overflow: hidden;
      color: var(--color-white-gray-9, #353a3f);
      text-overflow: ellipsis;
      white-space: nowrap;

      /* text/Body 1/Normal */
      font-family: Pretendard;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 2.4rem */
      letter-spacing: 0.0091rem;

      &::placeholder {
        overflow: hidden;
        color: var(--color-white-gray-5, #cfd4d9);
        text-overflow: ellipsis;
        white-space: nowrap;

        /* text/Body 1/Normal */
        font-family: Pretendard;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 2.4rem */
        letter-spacing: 0.0091rem;
      }
    }

    &::placeholder {
      overflow: hidden;
      color: var(--color-white-gray-6, #aeb5bc);
      text-overflow: ellipsis;
      white-space: nowrap;

      /* text/title/Title 3 */
      font-family: Pretendard;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 3rem */
      letter-spacing: 0.0114rem;
    }
  }
}
