.homebar__icons__back {
  color: #fff;
  path,
  svg {
    fill: #fff;
    stroke: #fff;
  }
}

.likehomebar__icons {
  display: flex;
  gap: 18px;
}

.likehomebar__statusbar {
  justify-content: space-between;
  display: flex;
  padding: 0 16px;
  background-color: #111;
  height: 50px;
  color: #fff;
  text-align: center;
  align-items: center;

  span {
    padding-left: 10%;
    /* text/headline/Headline 2 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: 0.091px;
  }
}
