.homebar__icons__back {
  cursor: pointer;
  color: #fff;
  path,
  svg {
    fill: #fff;
    stroke: #fff;
  }
}

.likehomebar__icons {
  display: flex;
  gap: 1.8rem;
}

.likehomebar__statusbar {
  justify-content: space-between;
  display: flex;
  padding: 0 1.6rem;
  background-color: #111;
  height: 5rem;
  color: #fff;
  text-align: center;
  align-items: center;

  span {
    padding-left: 10%;
    /* text/headline/Headline 2 */
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.4rem */
    letter-spacing: 0.0091rem;
  }
}
