.product__categories.white {
  background-color: #fff;
  border-bottom: 1px solid rgba(112, 115, 124, 0.16);
  margin-bottom: 20px;
}
.product__category.active.white {
  span {
    color: #111;
  }
}

.swiper-slide {
  margin-right: 0;
}

.product__categories {
  width: auto;
  padding-left: 16px;
  padding-top: 16px;
  background-color: #111;
  height: 44px;
  text-align: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 8px;
}

.product__category {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  &.active {
    padding: 0 5px;

    span {
      color: #fff;
      border-bottom: 3px solid var(--test-02, #01ea2b);
    }
  }
}

.product__category span {
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: 0.091px;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 9px;
  height: auto;
  color: var(--color-white-gray-6, #aeb5bc);
  // border-bottom: 3px solid var(--test-02, #111);
  display: flex;
  align-items: center;
}
