$padding-horizontal: 4.27%;
$button-width: 14.8rem;
$button-height: 3.4rem;

.section{
    background:var(--color-111);
    min-height:100vh;
}

.profileWrapper{
    padding: 1.5rem $padding-horizontal 4rem;
    border-bottom: 7px solid var(--color-d9d9d9);
    > p{
        font-size:1.4rem;
        line-height: 2.1rem;
        letter-spacing: -0.798px;
        margin-bottom:2.4rem;
        color:var(--color-999);
    }
}
.profile{
    display: flex;
    gap:1.6rem;
}
.imgbox{
    width:4.6rem;
    height:4.6rem;
    display: block;
    overflow: hidden;
    cursor: pointer;
    > svg{
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
}
.textbox{
    > p{
        font-weight:600;
        font-size:1.5rem;
        line-height: 2.25rem;
        letter-spacing: -0.33px;
        color:var(--color-fff)
    }
    > button{
        border:1px solid var(--color-A8FF00);
        color:var(--color-A8FF00);
        font-size:1.2rem;
        width: $button-width;
        height: $button-height;
        border-radius: 2rem;
        margin-top:1.6rem;
    }
    > em{
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 1;
        margin-bottom: 0.5rem;
        letter-spacing: -0.1254px;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        color:var(--color-fff)
    }
}
.list{
    padding-inline: $padding-horizontal;
    margin-top:4rem;
}

.logout{
    font-size: 1.2rem;
    letter-spacing: 0.00684rem;
    border: 1px solid var(--color-eee);
    height: $button-height;
    color: var(--color-eee);
    width: calc(100% - 8.54%);
    margin-top: 6rem;
    display: block;
    border-radius: 3.4rem;
    margin: 6rem auto 0;
}