.icon__emptyheart {
  width: 18px;
  height: 18px;
  color: #aeb5bc;

  path {
    stroke: #aeb5bc;
    stroke-width: 0.8px;
  }
}

.productDetail {
  width: auto;
  height: auto;
  background-color: #fff;
}

.product__preview {
  margin: 0 16px 16px;
  width: auto;

  display: block;
}

.bank__category {
  padding-top: 30px;
  color: #888;

  /* text/caption/Caption 2 */
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 16.5px */
  letter-spacing: 0.063px;
}

.productdetail__info {
  margin-top: 6px;
}

.productdetail__bank {
  color: #000;
  border-bottom: 2px solid #000;
  width: auto;
  display: inline-block;

  /* text/title/Title 4 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.137px;
  text-transform: capitalize;
}
.productdetail__title {
  display: inline-block;

  width: auto;
  border-bottom: 2px solid #000;
  margin-top: 8px;
  color: #000;

  /* text/title/Title 1 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.137px;
}

.productdetail__tag {
  gap: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  align-items: center;

  .tag__component {
    width: auto;
    border-radius: 2px;
    background-color: var(--color-black-line-normal, rgba(112, 115, 124, 0.22));
    padding: 2px 5px;
    color: var(--color-white-static-black, #111);

    /* text/label/Label 3 */
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 15px */
    letter-spacing: 0.057px;
  }
}

.prductdetail__sub {
  color: #777;
  margin-bottom: 24px;

  /* text/label/Label 2 */
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.074px;
}

.productdetail__preview__interests {
  display: flex;
  gap: 45px;
  margin-bottom: 24px;
  .productdetail__interest {
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 114%; /* 34.2px */
    letter-spacing: 0.171px;

    p {
      color: #777;

      /* text/Body 1/Reading */
      font-family: Pretendard;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 22.5px */
      letter-spacing: 0.085px;
    }

    &.max {
      color: var(--color-white-primary-normal, var(--test-02, #01ea2b));
    }
  }
}

.productdetail__options {
  margin-bottom: 24px;
  display: flex;
  gap: 39px;
  color: #000;

  /* text/headline/Headline 1 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: 0.103px;

  p {
    color: #777;

    /* text/Body 1/Reading */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.085px;
  }
}

.productdetail__preview--button {
  display: flex;
  gap: 9px;
  width: calc(100% - 32px) px;

  .btn {
    display: flex;
    gap: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 7px 0;
    border-radius: 4px;
    border: 1px solid var(--color-white-gray-3, #eaecef);
    background-color: #fff;
    color: #999;

    /* text/Body 1/Normal */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.091px;
  }
}

//// chak한 금리계산  detail__interest__set ////

.detail__interest__set {
  margin: 0 16px;

  &__title {
    color: #888;

    /* text/title/Title 3 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: 0.114px;
  }
}

.products__checks {
  width: 100%;
  height: auto;
  margin-top: 12px;
  margin-bottom: 28px;

  .products__check {
    align-items: flex-end;
    width: 100%;
    word-break: keep-all;
    color: #000;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;

    /* text/label/Label 1 */
    font-family: Pretendard;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.1rem */
    letter-spacing: 0.008rem;

    .product__checklist {
      width: 14rem;
      height: auto;
      color: #000;

      /* text/headline/Headline 3 */
      font-family: Pretendard;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 2.1rem */
      letter-spacing: 0.008rem;

      p {
        color: #000;

        /* text/label/Label 1 */
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        letter-spacing: 0.08px;
      }
    }

    .detail {
      color: #999;
      /* text/headline/Headline 3 */
      font-family: Pretendard;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 2.1rem */
      letter-spacing: 0.008rem;
    }
    .products__check--toggle {
      position: relative;
      display: flex;
      color: #000;
      margin-right: 62px;
      align-items: flex-end;
      justify-content: end;

      /* text/title/Title 1 */
      font-family: Pretendard;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 3.6rem */
      letter-spacing: 0.0137rem;

      .toggle__select {
        position: absolute;
        right: -3rem;
        bottom: 5px;
      }
    }
  }
}

.productdetail__myinterest {
  border-top: 1px dashed #999;
  padding: 16px 0 36px;

  display: flex;
  justify-content: space-between;
  color: #000;

  /* text/title/Title 4 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.137px;
  text-transform: capitalize;

  .total__interest {
    color: var(--color-white-primary-normal, var(--test-02, #01ea2b));
    text-align: right;

    /* text/title/Title 1 */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: 0.137px;
  }
}

/// 저축 조건 설정  productdetail__myoptions////
///

.productdetail__myoptions {
  border-top: 10px solid rgba(112, 115, 124, 0.08);
}
.my__object__set {
  margin-top: 3rem;
  margin: 2.4rem 1.6rem 3.6rem 1.6rem;

  span {
    display: flex;
    color: #000;
    padding-bottom: 1.2rem;

    /* text/title/Title 3 */
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3rem */
    letter-spacing: 0.0114rem;
  }

  .my__object {
    width: auto;
    color: #777;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 150%; /* 3.6rem */
    letter-spacing: 0.0137rem;

    span {
      color: #777;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 150%; /* 3.6rem */
      letter-spacing: 0.0137rem;
      padding-left: 0.4rem;
      gap: 10px;

      .percentActive {
        color: var(--color-white-primary-normal, var(--test-02, #01ea2b));

        /* text/title/Title 1 */
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
        letter-spacing: 0.137px;
      }

      .subActive {
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */
        letter-spacing: 0.137px;
      }
    }

    .edit {
      display: flex;
      position: absolute;
      left: 15.5rem;
      top: 0.1rem;
    }

    &__inputbox {
      position: relative;
      display: flex;
      width: auto;
      text-align: center;
      margin-bottom: 0.8rem;

      &__select {
        display: flex;
        select {
          display: flex;
          font-family: Pretendard;
          width: auto;
          color: #777;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 150%; /* 3.6rem */
          letter-spacing: 0.0137rem;
          border-bottom: 0.2rem solid #000;
          margin-right: 1.4rem;
          justify-content: flex-start;
          padding-right: 2.6rem;
          border-top: none;
          border-left: none;
          border-right: none;
          margin-bottom: 0.6rem;

          &:focus {
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
          }
        }
      }

      span {
        color: #777;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 150%; /* 3.6rem */
        letter-spacing: 0.0137rem;
      }

      input {
        width: 18rem;
        border-bottom: 0.2rem solid #000;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-right: 1.4rem;
        padding-left: 0.4rem;
        font-size: 2.4rem;
        overflow: hidden;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        &:active,
        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #777;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 150%; /* 3.6rem */
          letter-spacing: 0.0137rem;
        }
      }
    }
  }
}

.productdetail__mytotal {
  width: calc(100% - 32px) px;
  background-color: #000;
  flex-shrink: 0;
  margin: 10px 0;
}
.productdetail__mycomparison {
  padding: 1rem 1.6rem;
  height: auto;

  color: #989ba2;
  font-family: Pretendard;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 3.6rem */
  letter-spacing: 0.0137rem;

  .productdetail__my__title {
    display: flex;
    width: 100%;

    color: #fff;
    /* text/title/Title 1 */
    font-family: Pretendard;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3.6rem */
    letter-spacing: 0.0137rem;

    .productdetail__greenbar {
      min-width: 16.2rem;
      height: 1.5rem;
      margin: 0 1.7rem;
      border-bottom: 0.4rem solid #01ea2b;
    }
  }

  .productdetail__products {
    display: flex;
    width: 100%;
    height: auto;

    .productdetail__product {
      gap: 1px;
      margin-top: 10px;
      align-items: end;
      display: flex;
      width: auto;
      color: var(--test-02, #01ea2b);

      /* text/title/Title 1 */
      font-family: Pretendard;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 3.6rem */
      letter-spacing: 0.0137rem;

      .info {
        padding-bottom: 2px;
        color: #888;

        /* text/caption/Caption 1 */
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        letter-spacing: 0.068px;
      }

      .productdetail__smallfont {
        padding-bottom: 1px;
        color: var(--color-white-primary-normal, var(--test-02, #01ea2b));

        /* text/headline/Headline 2 */
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: 0.091px;
      }
    }
  }
}

//// 예금상품 추천 productdetail__recommend__more ////
.productdetail__recommend__more {
  margin: 24px 0 36px 16px;
}
.productdetail__recommend__title {
  color: #000;

  /* text/title/Title 3 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: 0.114px;
}

/// 슬라이더 ////

.productdetail__other__slider {
  margin-top: 12px;
  overflow: hidden;
  display: flex;
}

.productdetail__other {
  margin-right: 10px;
  width: 200px;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--color-white-gray-4, #dfe2e6);
  background-color: var(--color-white-gray-1, #f8f9fa);

  .productdetail__other__wrapped {
    .productdetail__other__logo {
      margin-bottom: 2px;
      width: 28px;
      height: 28px;
      background-color: #aeb5bc;
      border-radius: 50%;
    }

    .productdetail__other__bank {
      color: #333;

      /* text/caption/Caption 1 */
      font-family: Pretendard;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: 0.068px;
    }
    .productdetail__other__title {
      color: var(--color-white-static-black, #111);

      /* text/headline/Headline 2 */
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: 0.091px;
    }
    .productdetail__interest {
      margin-top: 2px;
      color: var(--color-white-primary-normal, var(--test-02, #01ea2b));

      /* text/Body 1/Heavy */
      font-family: Pretendard;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 18px */
      letter-spacing: 0.068px;
    }
  }
}

///// 상품 정보 /////
///
.productdetail__detail__info {
  background-color: var(--color-white-gray-2, #f1f3f5);
}

.productdetail__detail__info__title {
  padding: 24px 16px 12px;
  color: #000;

  /* text/title/Title 3 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: 0.114px;
}
.productdetail__detail__wrapped {
  padding: 0 16px;
  margin-bottom: 10px;
  gap: 6px;
  display: flex;

  &:last-child {
    padding-bottom: 60px;
  }

  .prouctdetail__detail__suv {
    display: flex;

    color: var(--color-white-gray-8, #4a5056);

    /* text/Body 1/Reading */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.085px;
  }

  .productdetail__detail__info {
    width: 97px;
    flex-shrink: 0;
    color: var(--color-white-gray-7, #878e95);

    /* text/Body 1/Reading */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.085px;
  }
}

///// 라운지 가기 // 상품관련 투표글 보이기 /////
///
.productdetail__lounge {
  margin: 24px 0 100px 16px;
  height: auto;
}
.productdetail__lounge__title {
  color: #000;

  /* text/title/Title 3 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: 0.114px;
}
.productdetail__lounge__post {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.074px;
}

.productdetail__lounge__vote {
  margin: 4px 0;
  gap: 4px;
  display: flex;
  align-items: center;
  text-align: center;

  a {
    align-items: center;

    color: #000;

    /* text/Body 1/Normal */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.091px;
  }

  .productdetail__lounge--btn {
    border-radius: 4px;
    background: var(--color-white-gray-8, #4a5056);
    display: flex;
    padding: 2px 10px;
    gap: 4px;
    color: var(--color-white-static-white, #fff);

    /* text/Body 2/Reading */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.085px;
  }
}

.productdetail__lounge__post__info {
  display: flex;
  gap: 4px;
  color: #666;

  /* text/Caption 1 */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.068px;
}

.bottom-btn.productdetail {
  box-shadow: 0px -13px 29px 0px rgba(0, 0, 0, 0.05);
  padding-top: 16px;
  width: auto;
  height: 100px;
  display: flex;
}

.onboarding--btn.active.productdetail {
  bottom: 32px;
}
