.input{
    border:1px solid var(--color-DFDFDF);
    background:transparent;
    appearance: none;
    margin: 0;
     width:1.8rem;
    height:1.8rem;
    border-radius: 2px;
}

.primary{
    &:checked{
        border:1px solid var(--color-checkbox--green);
        background:var(--color-checkbox--green) url("/src/assets/checkinput.svg") center center no-repeat
    }
}

.secondary{
    &:checked{
        border:1px solid var(--color-checkbox--black);
        background:var(--color-checkbox--black) url("/src/assets/checkinput2.svg") center center no-repeat
    }
}

.danger{
    &:checked{
        border:1px solid var(--color-checkbox--oriange);
        background:var(--color-checkbox--oriange) url("/src/assets/checkinput2.svg") center center no-repeat
    }
}


.circle{
    border-radius: 50%;
    width:2.4rem;
    height:2.4rem;
}