$conpadding: 2.4rem 4.27% 1.6rem;
.section01 {
  background: var(--color-040404);
  padding: $conpadding;
  > p {
    color: var(--color-fff);
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    letter-spacing: 0.114px;
    font-weight: 400;
    margin-bottom: 2rem;
    > span {
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 3.3rem;
      letter-spacing: 0.125px;
      display: flex;
      align-items: center;
      gap: 12px;
      &::after {
        content: "";
        display: block;
        width: 90px;
        height: 3px;
        background: var(--color-01EA2B);
      }
    }
  }
}
.main {
  background: var(--color-F2F4F5);
  height: calc(100vh - 262px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.finance_detail_page {
  background: var(--color-111);
  padding: 20px 16px;
  color: var(--color-fff);
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    &_text {
      display: flex;
      align-items: center;
      gap: 7px;
      img {
        width: 24px;
      }
      span:nth-of-type(1) {
        font-size: 16px;
        font-weight: 600;
      }
      span:nth-of-type(2) {
        font-size: 15px;
      }
    }
    &_cnt {
      background: var(--color-BCFF3A);
      color: var(--color-333);
      padding: 5px 3px;
      border-radius: 2px;
    }
  }
  &_stamp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 30px;
    li {
      height: 112.8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed var(--color-fff);
      border-radius: 50%;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      opacity: 0.5;
      img {
        width: 100%;
        position: absolute;
        opacity: 0.5;
      }
      &.onCurrentStamp {
        opacity: 1;
        img {
          opacity: 1;
        }
      }
    }
  }
  &_total_asset {
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
    h3 {
      display: flex;
      align-items: center;
      gap: 17px;
      span {
        width: 100px;
        height: 3px;
        background: var(--color-01EA2B);
      }
    }
    h4 {
      color: var(--color-01EA2B);
      .won {
        color: var(--color-01EA2B);
        font-size: 16px;
      }
      span {
        font-size: 12px;
        font-weight: 400;
        color: #888;
      }
    }
  }
}

.finance_detail_page_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--color-F2F4F5);
  margin-bottom: 4.7rem;
  > div {
    background: var(--color-fff);
  }
  &_payments {
    display: flex;
    padding: 32px 0;
    > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      > div {
        line-height: 150%;
        .won {
          font-size: 12px;
        }
        &:last-child {
          color: var(--color-878E95);
          font-size: 15px;
          font-weight: 500;
        }
      }
      &:first-child {
        border-right: 1px solid var(--color-F2F4F5);
      }
    }
  }
  &_rate {
  }
}
