$conpadding: 2.4rem 4.27% 1.6rem;
.section {
}
.section01 {
  background: var(--color-040404);
  padding: $conpadding;
  > p {
    color: var(--color-fff);
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    letter-spacing: 0.114px;
    font-weight: 400;
    margin-bottom: 2rem;
    > span {
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 3.3rem;
      letter-spacing: 0.125px;
      display: flex;
      align-items: center;
      gap: 12px;
      &::after {
        content: "";
        display: block;
        width: 90px;
        height: 3px;
        background: var(--color-01EA2B);
      }
    }
  }
}
.main {
  background: var(--color-F2F4F5);
  height: calc(100vh - 262px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.finance_detail_page {
  background: var(--color-111);
  padding: 20px 16px;
  color: var(--color-fff);
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    &_text {
      display: flex;
      align-items: center;
      gap: 7px;
      img {
        width: 24px;
      }
      span:nth-of-type(1) {
        font-size: 16px;
        font-weight: 600;
      }
      span:nth-of-type(2) {
        font-size: 15px;
      }
    }
    &_cnt {
      background: var(--color-BCFF3A);
      color: var(--color-333);
      padding: 5px 3px;
      border-radius: 2px;
    }
  }
}
