
.community__section {
  width: auto;
  height: auto;
  background-color: #fff;
  padding: 2rem 0 0 1.6rem;
  border-top: 1rem solid rgba(112, 115, 124, 0.08);

  .lounge__product__categories {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    background-color: #fff;
    padding-left: 0;
    height: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;


    .lounge__product__category {
      height: 19px;
      width: auto;
      border-radius: 10rem;
      border: 0.1rem solid #bfbfbf;
      min-width: 2.4rem;
      padding: 0.6rem 1.6rem;
      width: 100%;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      text-align: center;

      color: #bfbfbf;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem; /* 142.857% */
      letter-spacing: -0.06rem;

      &.active {
        border: 0.1rem solid #a0f400;
        background-color: var(--color-black-primary-heavy, #a0f400);
        color: var(--color-white-static-black, #111);
      }

      &:active,
      &:focus,
      &:hover {
        border: 0.1rem solid #a0f400;
        background-color: var(--color-black-primary-heavy, #a0f400);
        color: var(--color-white-static-black, #111);
      }
    }
  }

  .page__title {
    color: var(--color-000);
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem; 
    letter-spacing: 0.0114rem;
    display: flex;
    align-items: center;
  }
}

///// 라운지 메인 페이지 상단 로고바 /////

.loungeMain {
  width: auto;
  height: auto;
  position: relative;

  .loungeMain__icons {
    position: sticky;
    float: right;
    margin-right: 2.4rem;
    top: calc(100% - 14.2rem);
    width: 3rem;
    height: 3rem;
    padding: 0.9rem;
    background-color: var(--test-02, #01ea2b);
    border-radius: 50%;
    box-shadow:
      0rem 1.5rem 0.4rem 0rem rgba(0, 0, 0, 0),
      0rem 1rem 0.4rem 0rem rgba(0, 0, 0, 0.01),
      0rem 0.5rem 0.3rem 0rem rgba(0, 0, 0, 0.05),
      0rem 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.09),
      0rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.1);

    path {
      stroke: #000;
    }
  }
}

//// 라운지페이지 실시간 핫이슈 섹션 /////
///

.hottopic {
  width: auto;
  // min-height: 27.3rem;
  height: auto;
  background-color: #fff;
  padding-bottom: 30px;

  .page__title {
    padding: 3rem 1.6rem 0 1.6rem;
    color: var(--color-white-back-dark, #111);

    /* text/title/Title 3 */
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3rem */
    letter-spacing: 0.0114rem;
  }

  .products__comparison__list__hottopic {
    display: flex;
    overflow: hidden;
    gap: 0.8rem;
    margin-right: 0;
    height: auto;
    margin-left: 1.6rem;

    .products__comparison {
      
      padding: 2rem 1rem;
      cursor: pointer;
      margin-top: 10px;
      min-width: 30.8rem;
      width: auto;
      height: auto;
      border-radius: 0.4rem;
      background: #f8f9fa;
      justify-content: center;

      .products__vote {
        margin-bottom: 1.6rem;
        width: auto;

        &__title {
          display: flex;
          width: 100%;

          &__icons {
            display: flex;
            width: 24px;
            height: 24px;
            text-align: center;
            margin-left: 8px;

            svg, path,rect {
              stroke: #000;
              stroke-width: 2px;
            }
            
          }

          .vote--btn {
            border-radius: 0.4rem;
            background-color: var(--color-white-gray-8, #4a5056);
            color: var(--color-white-static-white, #fff);
            padding: 0.2rem 1rem;
            height: 2.7rem;
            margin-right: 0;
            margin-left: auto;

            /* text/Body 2/Reading */
            font-family: Pretendard;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 2.25rem */
            letter-spacing: 0.0085rem;
          }

          &__text {
            color: #666;

            /* text/Body 1/Normal */
            font-family: Pretendard;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 2.4rem */
            letter-spacing: 0.0091rem;

            .vote__num {
              color: var(--color-white-primary-normal, var(--test-02, #01ea2b));

              /* text/caption/Caption 1 */
              font-family: Pretendard;
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 1.8rem */
              letter-spacing: 0.0068rem;

              span {
                color: #aeb5bc;
              }
            }
          }
        }
      }

      .product__comparison__wrapped {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        .product {
          display: flex;
          align-items: center;

          &__img {
            width: 3rem;
            height: 3rem;
            background-color: #c3c3c3;
            border-radius: 50%;
            margin-right: 0.4rem;
          }
          &__info {
            .product__bank {
              color: var(--color-white-gray-8, #4a5056);

              /* text/caption/Caption 2 */
              font-family: Pretendard;
              font-size: 1.1rem;
              font-style: normal;
              font-weight: 300;
              line-height: 150%; /* 1.65rem */
              letter-spacing: 0.0063rem;
            }
            .product__title {
              color: #111;

              /* text/caption/Caption 1 */
              font-family: Pretendard;
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 1.8rem */
              letter-spacing: 0.0068rem;
            }
          }
        }
      }
    }
  }
}
.product:nth-child(2) {
  flex-direction: row-reverse;

  .product__info {
    align-items: flex-end;
    text-align: right;
  }

  .product__img {
    margin-right: 0;
    margin-left: 0.4rem;
  }
}

.vote__view {
  display: flex;

  .product__first {
    display: flex;
    background-color: #878e95;
    width: 12rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    color: var(--color-white-back-normal, #fff);
    border-top-left-radius: 1.2rem;

    /* text/label/Label 2 */
    font-family: Pretendard;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.95rem */
    letter-spacing: 0.0074rem;
  }
  .product__second {
    border-left: 0.1rem solid var(--color-white-static-white, #fff);
    background: var(--test-02, #01ea2b);
    width: 17.8rem;
    padding: 0.6rem 1rem;
    justify-content: flex-end;
    align-items: center;

    color: var(--color-white-gray-10, #222529);
    text-align: right;

    /* text/label/Label 2 */
    font-family: Pretendard;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.95rem */
    letter-spacing: 0.0074rem;
  }
}

//// 라운지페이지 게시판 섹션///////
.lounge__notice {
  width: auto;
  height: auto;
  min-height: 50rem;
  background: #fff;
  padding-top: 0;

  
}
.post__wrapped {
      border-bottom: 0.1rem solid rgba(112, 115, 124, 0.16);
      padding: 2rem 1rem;
      width: auto;
      height: auto;
      border-radius: 0.4rem;
      background: #fff;
      margin: 0 1.6rem;

      .user__info {
        display: flex;
        width: auto;
        justify-content: space-between;

        .user__name__wrapped {
          display: flex;
          .user__name {
            color: var(--color-white-back-heavy, #adadad);
            padding-left: 0.4rem;

            /* text/caption/Caption 2 */
            font-family: Pretendard;
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 1.65rem */
            letter-spacing: 0.0063rem;
          }
        }
        .post__date__wrapped {
          display: flex;
          gap: 0.5rem;

          .post__date {
            color: var(--color-white-back-heavy, #adadad);
            display: flex;

            /* text/caption/Caption 2 */
            font-family: Pretendard;
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 1.65rem */
            letter-spacing: 0.0063rem;
          }
        }

        /* text/Caption 1 */
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 150%; /* 1.8rem */
        letter-spacing: 0.0068rem;
      }

      .post__main {
        margin-top: 0.2rem;

        .post__title {
          color: var(--color-white-back-dark, #111);

          /* text/headline/Headline 4 */
          font-family: Pretendard;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 1.8rem */
          letter-spacing: 0.0068rem;
        }
        .post__main__wrapped {
          display: flex;
          justify-content: space-between;

          .post__tag {
            margin-top: 0.4rem;
            color: var(--color-white-gray-7, #878e95);

            /* text/label/Label 3 */
            font-family: Pretendard;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 1.5rem */
            letter-spacing: 0.0057rem;

            border-radius: 0.2rem;
            background: var(--color-white-gray-3, #eaecef);
            display: flex;
            padding: 0.2rem 0.5rem;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 1rem;
          }
          .post__utils {
            display: flex;
            gap: 1.2rem;

            .post__comments {
              display: flex;
              gap: 0.4rem;
              text-align: center;
              justify-content: center;
              align-items: center;
              color: var(--color-white-gray-6, #aeb5bc);

              /* text/caption/Caption 1 */
              font-family: Pretendard;
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 1.8rem */
              letter-spacing: 0.0068rem;
            }
          }
        }
      }
    }