.snackBar{
    position: fixed;
    height: 4.5rem;
    border-radius: 1rem;
    bottom: 3rem;
    left: 0;
    right: 0;
    z-index: 10000;
    text-align: center;
    max-width: calc(60rem - 8.54%);
    width: calc(100% - 8.54%);
    
    margin: 0 auto;
    background: var(--color-000);
    display: flex;
    align-items: center;
    justify-content: center;
    > p {
        color: var(--color-fff);
        font-size: 1.4rem;
    }
}