$color--black: #282828;
$bgColor: #fff;
$textColor: #292929;
$borderColor: #bbb;

//// html, body 개발용 /// 후 삭제해야함///// // width / height 도 삭제해야댐

html {
  background-color: gray;
}

body {
  background-color: gray;
  margin-top: 439px;
  margin-left: 70px;
  width: 375px;
  height: auto;
}

////삭제삭제삭제삭제삭제삭제삭제삭제삭제삭제////

.statusbar {
  display: flex;
  width: 375px;
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 14px;
}

.checkbox {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: auto;
}

.xbox {
  cursor: pointer;
}

.back {
  cursor: pointer;

  path {
    stroke-width: 2px;
    stroke: #000;
    fill: $bgColor;
  }
  rect {
    fill: $bgColor;
  }
  &.likelist {
    width: 15px;
    height: 15px;
    margin: 10px 0 24px 20.64px;
  }
  &.comparison {
    width: 12px;
    height: 15px;
    justify-content: flex-start;
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.page__title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.44px;

  &.likespage {
    padding-left: 20.64px;
    margin-bottom: 36.3px;
  }
}

///LikesPopUp 찜한 상품 팝업창 LikesPopUp 찜한 상품 팝업창 ////

.likepopup {
  padding-left: 20px;
  margin-left: 20px;
  width: 375px;
  height: auto;

  .status-bar {
    display: flex;
    width: 375px;
    height: 32.443px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px 30px 0 0;
    position: relative;
    background-color: $bgColor;
    // margin: 0 16px 0 16px;

    .home-indicator {
      width: 130px;
      flex-shrink: 0;
      border-radius: 100px;
      border: 2.5px solid $color--black;
      position: absolute;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .liketpopup__section {
    width: 375px;
    height: auto;
    background-color: $bgColor;
    // margin: 0 16px 0 16px;

    .liketpopup__section-1 {
      border-bottom: 0.5px solid $borderColor;

      .product__infos {
        display: flex;
        margin: 30px 16px 0 16px;
        padding-bottom: 27px;
        justify-content: space-between;

        .product__info {
          display: flex;

          .product__img {
            background-color: #d9d9d9;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .product__title {
            display: block;
            width: auto;
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 14.4px */
            letter-spacing: -0.264px;
            margin-left: 15px;

            span {
              display: block;
            }
          }

          .product__interest {
            display: flex;
            align-items: center;
            color: #3e3e3e;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 14.4px */
            letter-spacing: -0.264px;
            margin-left: 15px;
            text-align: center;
          }
        }

        .product__comparison {
          display: flex;
          align-items: center;
          color: #5e5e5e;
          text-align: right;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 12px */
          letter-spacing: -0.22px;
        }
      }
    }

    .likepopup__section-2 {
      margin-left: 16px;
      overflow: hidden;

      .frame56__others {
        margin: 20px 0 48px 0;
        display: flex;
        gap: 25px;

        .other {
          width: 110px;
          height: 110px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #d9d9d9;

          .frame56__product {
            padding: 18px 17px 13px 15px;
            display: flex;

            .frame56__img {
              background-color: #fdfdfd;
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            .other__title {
              color: #000;
              font-size: 10px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%; /* 15px */
              letter-spacing: -0.22px;
              margin-left: 11px;

              span {
                display: block;
              }
            }
          }
        }
        .likes__toggle {
          justify-content: space-between;
          margin-left: 15px;
          display: flex;

          svg {
            display: block;
            margin: 14px 14px 0 0;
            cursor: pointer;
          }

          .other-interest {
            &__text {
              color: #000;
              font-size: 13px;
              font-weight: 600;
              line-height: 150%; /* 19.5px */
              letter-spacing: -0.286px;
              display: block;
            }
            span {
              display: block;
              color: #666;
              font-size: 8px;
              font-weight: 400;
              line-height: 150%;
            }
          }
        }
      }
    }
  }

  .like-add-text {
    color: $textColor;
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 600;
    line-height: 120%; /* 18px */
    letter-spacing: -0.33px;
    margin: 0 16px 0 16px;
    padding-top: 13.56px;

    &.section-2 {
      padding-top: 28px;
      margin: 0;
    }
  }
}

//// LikeListPage 찜한 금융상품페이지 LikeListPage 찜한 금융상품페이지 ////

.likelistpage {
  width: auto;
  min-height: 800px; /// 375*844 - statusbar 40px
  background-color: #f2f4f5;

  .product__categories {
    padding-left: 16px;
    padding-top: 16px;
    background-color: #111;
    height: 44px;
    text-align: center;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    overflow: hidden;
    align-items: center;

    .product__category {
      text-align: center;
      justify-content: center;
      align-items: center;
      min-width: 41px;
      color: var(--color-white-gray-6, #aeb5bc);
      text-align: center;
      border-bottom: 3px solid var(--test-02, #111);

      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: 0.091px;
        cursor: pointer;
        margin: 1px;
        padding-top: 7px;
        padding-bottom: 9px;
      }

      /* text/headline/Headline 2 */

      &:active {
        border-bottom: 3px solid var(--test-02, #01ea2b);
        padding-bottom: 0;
        color: #fff;
        text-align: center;
        min-width: 50px;

        span {
          display: flex;
          margin: 0 auto;
          padding-top: 7px;
          padding-bottom: 9px;
          /* text/headline/Headline 2 */
          font-size: 16px;
          font-weight: 600;
          line-height: 150%; /* 24px */
          letter-spacing: 0.091px;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .service__info {
      display: flex;
      height: 42px;
      background-color: #eee;
      color: #666;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: -0.264px;
      align-items: center;
      justify-content: center;
    }
  }
  .product__comparison {
    background-color: #f2f4f5;
    position: relative;
    height: auto;
    padding-bottom: 10px;

    .product__utilsbar {
      margin: 0 16px;
      padding-top: 24px;

      .utils {
        display: flex;
        color: #818181;
        font-size: 11px;
        font-weight: 300;
        line-height: 150%; /* 18px */
        letter-spacing: 0.063px;
        justify-content: space-between;
        margin-bottom: 14px;

        .selectCount {
          display: flex;
          color: #818181;
          text-align: center;
          align-items: center;

          /* text/caption/Caption 2 */
          font-family: Pretendard;
          font-size: 11px;
          font-style: normal;
          font-weight: 300;
          line-height: 150%; /* 16.5px */
          letter-spacing: 0.063px;
        }

        .cancel {
          color: #818181;

          /* text/headline/Headline 4 */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 18px */
          letter-spacing: 0.068px;
        }

        .edit {
          cursor: pointer;
          color: #818181;

          /* text/caption/Caption 2 */
          font-family: Pretendard;
          font-size: 11px;
          font-style: normal;
          font-weight: 300;
          line-height: 150%; /* 16.5px */
          letter-spacing: 0.063px;
        }

        .selectAll--btn {
          margin-right: 4px;
          rect,
          path {
            stroke: #aeb5bc;
            stroke-width: 1.5;
          }

          &.active {
            fill: #aeb5bc;
            path {
              stroke: #fff;
            }
          }
        }
      }
    }
  }

  ///// 비교하기 버튼 ///

  .comparison__toggle {
    height: 80px;
    margin: 10px 0;
    display: flex;

    .product__comparison__btn {
      background-color: #fff;

      display: flex;
      width: auto;
      // height: 56px;
      justify-content: center;
      align-items: center;
      color: #aeb5bc;
      cursor: disabled;
      cursor: pointer;
      position: absolute;
      bottom: 0;

      span {
        margin: 16px 16px 32px 16px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: var(--color-white-gray-3, #eaecef);
        text-align: center;
        min-width: 197px;
        height: auto;
        font-size: 20px;
        // padding: 26px calpx;
        width: 343px;
        height: 56px;
        font-weight: 700;
        line-height: 150%; /* 30px */
        letter-spacing: 0.114px;
      }

      &.active {
        span {
          background-color: var(--color-white-primary-normal, #01ea2b);
          color: var(--color-white-static-black, #000);
        }
      }
    }
  }

  ///// 편집모드 /////
  .editmode__toggle {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;

    button {
      padding: 13px 136px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background-color: var(--color-white-gray-8, #4a5056);
      color: var(--color-white-gray-1, #f8f9fa);
      text-align: center;
      margin: 0 16px 32px 16px;

      /* text/title/Title 3 */
      font-size: 20px;
      font-weight: 700;
      line-height: 150%; /* 30px */
      letter-spacing: 0.114px;
    }

    span {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: var(--color-white-static-black, #000);
      text-align: center;
      margin-top: 16px;
      margin-bottom: 10px;

      /* text/headline/Headline 3 */
      font-size: 14px;
      font-weight: 600;
      line-height: 150%; /* 21px */
      letter-spacing: 0.08px;
    }
  }
}
//// 금융상품리스트 ////
.products__likelist__wrapped {
  width: 343px;
  min-height: 58px;
  margin: 0 16px;

  .add__products {
    padding-top: 50px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #b3b3b3;
  }

  .product__likelist {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding-top: 0;
    padding: 12px 16px;
    border-radius: 5px;
    height: auto;

    .product__infos {
      display: flex;
      margin: auto 0;
      // align-items: center;

      // text-align: center;
      // justify-content: center;

      .product__info {
        display: flex;
        // text-align: center;
        // justify-content: center;
        align-items: center;

        .check--toggle {
          button {
            width: 24px;
            height: 24px;
          }
        }

        .product__img {
          display: block;
          background-color: #d9d9d9;
          width: 30px;
          height: 30px;
          margin-left: 16px;
          justify-content: center;
          cursor: pointer;
          border-radius: 0;
        }
      }

      .product__title {
        display: block;
        align-items: center;
        margin-left: 8px;
        cursor: pointer;

        .product__name {
          display: block;
          color: #111;
          font-size: 12px;
          font-weight: 600;
          line-height: 120%; /* 14.4px */
          letter-spacing: 0.068px;
          max-width: 146px;
          margin-bottom: 4px;
        }

        .product__bankname {
          color: var(--color-white-back-heavy, #adadad);

          /* text/caption/Caption 2 */
          font-size: 11px;
          font-weight: 300;
          line-height: 150%; /* 16.5px */
          letter-spacing: 0.063px;
        }

        .product__property {
          padding: 2px 5px;
          margin-right: 8px;
          border-radius: 2px;
          background-color: var(--color-white-line-normal, rgba(112, 115, 124, 0.22));
          color: #333;

          /* text/label/Label 3 */
          font-size: 10px;
          font-weight: 500;
          line-height: 150%; /* 15px */
          letter-spacing: 0.057px;
        }
      }
    }
    .product__interest {
      display: flex;
      justify-content: flex-end;

      .interest__info {
        // margin: 0 auto;

        .interest__max {
          display: block;
          color: var(--color-white-primary-normal, var(--test-02, #01ea2b));
          text-align: right;

          /* text/headline/Headline 3 */
          font-size: 14px;
          font-weight: 600;
          line-height: 150%; /* 21px */
          letter-spacing: 0.08px;
        }

        .interest__def {
          display: block;
          color: #444;
          text-align: right;

          /* text/headline/Headline 4 */
          font-size: 12px;
          font-weight: 600;
          line-height: 150%; /* 18px */
          letter-spacing: 0.068px;
        }
      }
    }
  }
}

/// comparisonpage 금융상품 비교페이지 comparisonpage 금융상품 비교페이지////
.comparison {
  background-color: #fff;
  height: auto;

  .my__object__set {
    margin-top: 30px;
    margin: 30px 16px 85px 16px;

    span {
      display: flex;
      color: #000;
      padding-bottom: 12px;

      /* text/title/Title 3 */
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 30px */
      letter-spacing: 0.114px;
    }

    .my__object {
      width: auto;
      color: #777;
      font-size: 24px;
      font-weight: 400;
      line-height: 150%; /* 36px */
      letter-spacing: 0.137px;

      span {
        color: #777;
        font-size: 24px;
        font-weight: 400;
        line-height: 150%; /* 36px */
        letter-spacing: 0.137px;
        padding-left: 4px;
      }

      .edit {
        display: flex;
        position: absolute;
        left: 155px;
        top: 1px;
      }

      &__inputbox {
        position: relative;
        display: flex;
        width: auto;
        text-align: center;
        margin-bottom: 8px;

        &__select {
          display: flex;
          select {
            display: flex;
            font-family: Pretendard;
            width: auto;
            color: #777;
            font-size: 24px;
            font-weight: 400;
            line-height: 150%; /* 36px */
            letter-spacing: 0.137px;
            border-bottom: 2px solid #000;
            margin-right: 14px;
            justify-content: flex-start;
            padding-right: 26px;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-bottom: 6px;

            &:focus {
              border-top: none;
              border-left: none;
              border-right: none;
              outline: none;
            }
          }
        }

        span {
          color: #777;
          font-size: 24px;
          font-weight: 400;
          line-height: 150%; /* 36px */
          letter-spacing: 0.137px;
        }

        input {
          width: 180px;
          border-bottom: 2px solid #000;
          border-top: none;
          border-left: none;
          border-right: none;
          margin-right: 14px;
          padding-left: 4px;
          font-size: 24px;
          overflow: hidden;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          &:active,
          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #777;
            font-size: 24px;
            font-weight: 400;
            line-height: 150%; /* 36px */
            letter-spacing: 0.137px;
          }
        }
      }
    }
  }

  .comparison__products {
    .category {
      padding-left: 16px;
      padding-top: 6px;
      padding-bottom: 4px;
      color: #888;
      border-bottom: 2px solid #d9d9d9;

      /* text/title/Title 3 */
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 30px */
      letter-spacing: 0.114px;

      &:first-child {
        padding-top: 30px;
      }
    }

    .bank__infos {
      justify-content: space-between;
      display: flex;
      width: auto;

      .bank__info {
        width: 100%;
        padding: 40px 50px;
        height: calc(175 + 32) px;

        &:last-child {
          border-left: 1px solid #000;
        }

        .bank__logo {
          margin: 0 auto;
          display: flex;
          width: 50px;
          height: 50px;
          border-radius: 15px;
          background: #d9d9d9;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin-bottom: 28px;
        }

        .bank__name {
          color: #000;
          text-align: center;
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 18px */
          margin-bottom: calc(32 + 38) px;
        }
      }
    }

    .products__interests {
      width: auto;
      justify-content: space-between;
      display: flex;

      .product__interest {
        width: 100%;
        color: #000;

        /* text/title/Title 1 */
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
        letter-spacing: 0.137px;
        padding-left: 16px;
        padding-top: 24px;

        &:last-child {
          border-left: 1px solid #000;
        }

        .product__interest__wrapped {
          display: flex;
          align-items: end;
          padding-bottom: 30px;

          &.max {
            color: #00d823;
          }

          .period {
            padding-bottom: 5px;
            color: #000;

            /* text/label/Label 1 */
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            letter-spacing: 0.08px;
            margin-left: 8px;

            &.max {
              color: #00d823;
            }
          }
        }

        .def {
          color: var(--color-white-gray-8, #4a5056);
          text-align: center;

          /* text/headline/Headline 3 */
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 21px */
          letter-spacing: 0.08px;

          &.max {
            color: #00d823;
          }
        }
      }
    }

    .products__periods {
      display: flex;
      justify-content: space-between;
      width: auto;
      height: auto;

      .products__period {
        padding: 24px 43px 40px 43px;
        width: 100%;
        color: #000;
        text-align: center;

        /* text/title/Title 1 */
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
        letter-spacing: 0.137px;

        &:last-child {
          border-left: 1px solid #000;
        }
      }
    }

    .products__checks__wrapped {
      justify-content: space-between;
      display: flex;

      .products__checks {
        width: 100%;
        height: auto;

        &:last-child {
          border-left: 1px solid #000;
        }

        .products__check {
          width: calc(100% - 51px);
          margin: 24px 16px 24px 16px;
          word-break: keep-all;
          color: #000;

          /* text/label/Label 1 */
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
          letter-spacing: 0.08px;

          .product__checklist {
            width: 140px;
            height: auto;
            min-height: 85px;
            color: #000;

            /* text/headline/Headline 3 */
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 21px */
            letter-spacing: 0.08px;
          }

          .detail {
            color: #999;
            /* text/headline/Headline 3 */
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 21px */
            letter-spacing: 0.08px;
          }
          .products__check--toggle {
            position: relative;
            margin: 24px 30px 30px 0;
            display: flex;
            color: #000;
            align-items: flex-end;
            justify-content: end;

            /* text/title/Title 1 */
            font-family: Pretendard;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 36px */
            letter-spacing: 0.137px;

            .toggle__select {
              position: absolute;
              right: -30px;
              top: 15px;
            }
          }
        }
      }
    }
  }
}

.comparison__makes {
  width: auto;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  // border-top: 1px solid black;
  box-shadow: 0 -1px rgb(233, 232, 232);

  span {
    color: #000;
    display: flex;

    /* text/title/Title 3 */
    font-size: 20px;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: 0.114px;
    padding-top: 29px;
    padding-left: 24.5px;
    padding-bottom: 10px;
  }

  .comparison__make__wrapped {
    display: flex;
    justify-content: space-between;

    .comparison__make {
      width: 100%;
      height: 100%;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background: #f6f6f6;

      &:last-child {
        border-left: 1px solid #000;
      }

      .product__detail {
        text-align: center;
        color: #000;
        border-top: 1px solid #000;

        padding: 14px 12px;

        /* text/headline/Headline 3 */
        font-size: 14px;
        font-weight: 600;
        line-height: 150%; /* 21px */
        letter-spacing: 0.08px;
        background: var(--test-02, #01ea2b);
      }

      .product__info {
        padding-left: 22.6px;

        .bank__name {
          padding-top: 16px;
          color: #000;

          /* text/caption/Caption 2 */
          font-size: 11px;
          font-weight: 300;
          line-height: 150%; /* 16.5px */
          letter-spacing: 0.063px;
        }

        .product__title {
          color: #000;
          padding-bottom: 16px;

          /* text/headline/Headline 2 */
          font-size: 16px;
          font-weight: 600;
          line-height: 150%; /* 24px */
          letter-spacing: 0.091px;
        }
      }
    }
  }
}
