@mixin flex {
  display: flex;
  align-items: center;
}

.likeTitle{
  background:var(--color-111);
  > div:first-child{
    padding:1.2rem 4.27% 0; 
  }
  h4 {
    color: var(--color-fff);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem; 
    letter-spacing: 0.091px;
    margin-bottom: 3.5rem;
  }
}
.article{
  padding:2.4rem 4.27% 0 ;
  background: var(--color-F2F4F5);
  min-height: calc(100vh - 10.7rem);
}
.utils{
  @include flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.selectCounts{
  @include flex;
  > svg rect, >svg path{
     stroke: #aeb5bc;
    stroke-width: 1.5;
  }
}
.selectCount{
  margin-left:0.4rem;
    color: var(--color-818181);
font-size: 1.1rem;
font-weight: 300;
line-height: 1.6rem;
letter-spacing: 0.063px;
}
.cancel{
color: var(--color-818181);
font-size: 1.2rem;
font-weight: 600;
line-height: 1.8rem; 
letter-spacing: 0.068px;
}
.edit{
color: var(--color-818181);
font-size: 1.1rem;
font-weight: 300;
line-height: 1.6rem; 
letter-spacing: 0.063px;
}

.likelist{
  margin-top:1rem;
  border-radius: 0.5rem;
  background: var(--color-fff);
  padding: 1.2rem 1.6rem;
  cursor: pointer;
   @include flex;
  &:first-child{
    margin-top:0;
  }
  > input {
    display: none;
  }
}
.leftText {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex: 1;
  overflow: hidden;
  margin-inline: 1.6rem 2.2rem;
}
.bankTextbox {
  overflow: hidden;
  flex: 1;
  text-align: left;
  > p {
    color: var(--color-111);
    font-size: 1.2rem;
    letter-spacing: 0.068px;
    line-height: 1.8rem;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  > em {
    color: var(--color-adadad);
    letter-spacing: 0.063px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.65rem;
    display: block;
  }
}
.rightText {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  text-align: right;
  span {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0.0798px;
    color: var(--color-01EA2B);
  }
  strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0.0684px;
    color: var(--color-444);
  }
}
.tags {
  margin-right: 0.8rem;
  margin-top: 0.4rem;
  background: var(--color-EAECEF);
  line-height: 1.5rem;
  letter-spacing: 0.0057px;
  color: var(--color-878E95);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  &:last-child {
    margin-right: 0;
  }
}
.noCheck{
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 60rem;
  background:var(--color-fff);
  text-align: center;
  padding:1.6rem 4.65%;
  box-sizing: border-box;
  >span{
    color: var(--color-111);
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0.08px;
  }
  > button{
      width: 100%;
      height: 5.6rem;
      border-radius: 0.4rem;
      background: var(--color-4A5056);
      color: var(--color-F8F9FA);
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.114px;
      margin-top: 1rem;
  }

}
.bankImgBox {
  width: 2.2rem;
  height: 2.2rem;
  display: block;
  overflow: hidden;
  cursor: pointer;
  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}