.slider-container {
  width: auto;
  margin: 0 16px;
  text-align: center;
}

.slider-wrapper {
  position: relative;
}

.slider {
  margin-top: 20px;
  width: 96.5%;
  left: 3.2%;
}

.thumb {
  z-index: 2;
  position: absolute;
  top: -1px;
  outline: none;
}
.thumb.thumb-0.active {
  border-color: #01ea2b;
  border: 1.5px solid #01ea2b;
}

.track {
  background-color: #ccc;
  height: 4px;
  padding: 0 2px;

  &.track-0 {
    background-color: #01ea2b;
  }
}

.fixed-thumb {
  position: absolute;
  left: 1%;
  top: 18%;
  transform: translateY(-70%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  border: 1.5px solid #01ea2b;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.value-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  gap: 60px;
  margin: 0 1px;

  .slider__text {
    min-width: 37px;
    color: #aeb5bc;
    text-align: center;

    span {
      width: 100%;
      color: var(--color-white-gray-6, #aeb5bc);

      font-family: Pretendard;
      font-size: 11px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      letter-spacing: 0.063px;
      white-space: nowrap;
    }
  }
}
