//// comparison 상품비교 메인페이지 /// 상품비교 히스토리 페이지 ////

.products__comparison__list {
  padding: 2.4rem 1.6rem;
  width: auto;
  min-height: 812px;
  height: auto;
  background-color: #111111;

  .products__comparison__category {
    width: 100%;
    // min-width: 34.3rem;
    height: 100%;
    background-color: #4b4f52;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-top: 0rem;
    }

    .union {
      display: flex;
      margin-top: 1.2rem;
      width: 3.47rem;
      height: 0.8rem;
      background-color: #000;
      border-radius: 1rem;
      margin-right: auto;
      margin-left: auto;
      position: relative;

      .cir {
        border-radius: 50%;
        background-color: #000;
        width: 0.9rem;
        height: 0.9rem;
        top: -0.4rem;
        right: 1.3rem;
        position: absolute;
      }
    }

    span {
      display: flex;
      padding: 0.2rem 0 0.8rem 1.2rem;
      color: var(--color-white-gray-3, #eaecef);

      /* text/heading/Heading 2 */
      font-family: Pretendard;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 3rem */
      letter-spacing: 0.0114rem;
    }
  }

  .comparisonpage__products__comparison {
    margin-top: 0.8rem;
    border-radius: 1rem;
    background-color: #f6f6f6;
    padding: 0 1.2rem 2rem 1.2rem;

    .comparison--btn {
      border-radius: 0.4rem;
      background: var(--color-white-gray-5, #cfd4d9);
      color: var(--color-black-static-black, #000);
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      /* text/caption/Caption 1 */
      font-family: Pretendard;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.8rem */
      letter-spacing: 0.0068rem;
    }

    .comparisonpage__product__comparison {
      padding: 2.4rem 0 2.2rem 0;

      width: 100%;
      display: flex;
      justify-content: space-between;

      .comparisonpage__product {
        display: flex;
        align-items: center;
        flex: 1;

        &__img {
          width: 3.2rem;
          height: 3.2rem;
          background-color: #cfd4d9;
          margin-right: 0.6rem;
          border-radius: 50%;
        }
        &__info {
          width: auto;

          .comparisonpage__product__bank {
            display: flex;
            color: var(--color-white-gray-9, #353a3f);

            /* text/caption/Caption 2 */
            font-family: Pretendard;
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 1.65rem */
            letter-spacing: 0.0063rem;
          }
          .comparisonpage__product__title {
            display: flex;
            color: #000;

            /* text/headline/Headline 3 */
            font-family: Pretendard;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 2.1rem */
            letter-spacing: 0.008rem;
          }
        }

        &:last-child {
          border-left: 0.1rem solid #cfd4d9;
          padding-left: 0.8rem;
        }
      }
    }
  }
}

/// comparisonDetailpage 상품비교 상세페이지 comparisonDetailpage 상품비교 상세페이지 ////
.comparisonDetail {
  background-color: #fff;
  height: auto;
  width: auto;

  .comparison__main__section {
    width: 100%;

    .sticker {
      position: sticky;
      top: 0;
      z-index: 100;

      .comparison__make__title {
        box-shadow: 0px -13px 29px 0px rgba(0, 0, 0, 0.05);
        background-color: #fff;
        z-index: 100;
        color: #000;
        position: sticky;
        display: flex;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        text-align: center;
        align-items: center;

        /* text/title/Title 3 */
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%; /* 3rem */
        letter-spacing: 0.0114rem;
        padding-top: 2.9rem;
        padding-left: 2.45rem;
        padding-bottom: 1rem;

        .chaklogo {
          margin-left: 5px;
          width: 59px;
          height: 23px;
        }
      }

      .comparison__make__wrapped {
        display: flex;
        justify-content: space-between;

        .comparison__make--btn {
          width: 100%;
          border-top: 0.1rem solid #000;
          border-bottom: 0.1rem solid #000;

          &:last-child {
            border-left: 0.1rem solid #000;
          }
        }

        .comparison__make {
          width: 100%;
          height: 100%;
          background: #f6f6f6;

          .product__detail {
            justify-content: center;
            display: flex;
            text-align: center;
            align-items: center;
            color: #000;
            border-top: 0.1rem solid #000;
            padding: 1.4rem 1.2rem;
            margin-top: 16px;

            /* text/headline/Headline 3 */
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 150%; /* 2.1rem */
            letter-spacing: 0.008rem;
            background: var(--test-02, #01ea2b);
          }

          .product__info {
            padding-left: 2.26rem;

            .bank__name {
              padding-top: 1.6rem;
              color: #000;

              /* text/caption/Caption 2 */
              font-size: 1.1rem;
              font-weight: 300;
              line-height: 150%; /* 1.65rem */
              letter-spacing: 0.0063rem;
            }

            .product__title {
              color: #000;
              padding-bottom: 1.6rem;

              /* text/headline/Headline 2 */
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 150%; /* 2.4rem */
              letter-spacing: 0.0091rem;

              &__icon {
                text-align: center;
                align-items: center;
                margin-left: 8px;
                path,
                rect {
                  fill: #adadad;
                }
              }
            }
          }
        }
      }
    }
  }

  .my__object__set {
    margin-top: 3rem;
    margin: 3rem 1.6rem 8.5rem 1.6rem;

    span {
      display: flex;
      color: #000;
      padding-bottom: 1.2rem;

      /* text/title/Title 3 */
      font-family: Pretendard;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 3rem */
      letter-spacing: 0.0114rem;
    }

    .my__object {
      width: auto;
      color: #777;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 150%; /* 3.6rem */
      letter-spacing: 0.0137rem;

      span {
        color: #777;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 150%; /* 3.6rem */
        letter-spacing: 0.0137rem;
        padding-left: 0.4rem;
      }

      &__inputbox {
        display: flex;
        width: auto;
        text-align: center;
        margin-bottom: 0.8rem;
      }

      span {
        color: #777;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 150%; /* 3.6rem */
        letter-spacing: 0.0137rem;
      }
    }
  }
}

.my__object__selectbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &__comparisondetail {
    align-items: center;
    display: flex;
    width: auto;
  }
}

.comparison__products {
  .category {
    padding-left: 1.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    color: #888;
    border-bottom: 0.2rem solid #d9d9d9;

    /* text/title/Title 3 */
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3rem */
    letter-spacing: 0.0114rem;

    &:first-child {
      padding-top: 3rem;
    }
  }

  .bank__infos {
    justify-content: space-between;
    display: flex;
    width: auto;

    .bank__info {
      width: 100%;
      padding: 4rem 5rem 6rem;
      height: calc(175 + 32) px;

      &:last-child {
        border-left: 0.1rem solid #000;
      }

      .bank__logo {
        margin: 0 auto;
        display: flex;
        width: 5rem;
        height: 5rem;
        border-radius: 1.5rem;
        background: #d9d9d9;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.8rem;
      }

      .bank__name {
        color: #000;
        text-align: center;
        font-family: Pretendard;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 1.8rem */
        margin-bottom: calc(32 + 38) px;
      }
    }
  }

  .products__interests {
    width: auto;
    justify-content: space-between;
    display: flex;

    .product__interest {
      width: 100%;
      color: #000;

      /* text/title/Title 1 */
      font-family: Pretendard;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 3.6rem */
      letter-spacing: 0.0137rem;
      padding-left: 1.6rem;
      padding-top: 2.4rem;

      &:last-child {
        border-left: 0.1rem solid #000;
      }

      .product__interest__wrapped {
        display: flex;
        align-items: end;
        padding-bottom: 3rem;

        &.max {
          color: #00d823;
        }

        .period {
          padding-bottom: 0.5rem;
          color: #000;

          /* text/label/Label 1 */
          font-family: Pretendard;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 2.1rem */
          letter-spacing: 0.008rem;
          margin-left: 0.8rem;

          &.max {
            color: #00d823;
          }
        }
      }

      .def {
        color: var(--color-white-gray-8, #4a5056);
        text-align: center;

        /* text/headline/Headline 3 */
        font-family: Pretendard;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 2.1rem */
        letter-spacing: 0.008rem;

        &.max {
          color: #00d823;
        }
      }
    }
  }

  .products__periods {
    display: flex;
    justify-content: space-between;
    word-break: keep-all;
    width: auto;
    height: auto;

    .products__period {
      padding: 2.4rem 4.3rem 4rem 4.3rem;
      width: 100%;
      color: #000;
      text-align: center;

      /* text/title/Title 1 */
      font-family: Pretendard;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 3.6rem */
      letter-spacing: 0.0137rem;

      &:last-child {
        border-left: 0.1rem solid #000;
      }
    }
  }

  .comparisondetail__products__checks__wrapped {
    justify-content: space-between;
    display: flex;
    width: 100%;

    .comparisondetail__products__checks {
      width: 100%;
      height: auto;
      flex-direction: column;
      &:last-child {
        border-left: 0.1rem solid #000;
      }

      .comparisondetail__products__check {
        width: auto;
        padding: 2.4rem 0 2.4rem 1.6rem;
        word-break: keep-all;
        color: #000;

        /* text/label/Label 1 */
        font-family: Pretendard;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 2.1rem */
        letter-spacing: 0.008rem;

        .comparisondetail__product__checklist {
          width: auto;
          height: auto;
          min-height: 8.5rem;
          color: #000;
          display: flex;
          flex-direction: column;

          /* text/headline/Headline 3 */
          font-family: Pretendard;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 2.1rem */
          letter-spacing: 0.008rem;

          .comparisondetail__product__description {
            width: 138px;
          }
        }

        .comparisondetail__product__moreview {
          align-items: center;
          color: #999;
          /* text/headline/Headline 3 */
          font-family: Pretendard;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 2.1rem */
          letter-spacing: 0.008rem;

          .moreview__wrapped {
            display: flex;
            align-items: center;
            text-align: center;

            .comparisondetail__icon__arr {
              margin-left: 2px;
              display: flex;
              width: 14px;
              height: 14px;
              padding: 0px;
              align-items: center;
              text-align: center;
              justify-content: center;
              svg,
              path,
              rect {
                stroke: #999;
              }

              &__rotate {
                transform: scaleY(-1);
              }
            }
          }

          .moreview__text {
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-top: 8px;
          }
        }
        .comparisondetail__products__check--toggle {
          position: relative;
          margin: 2.4rem 8rem 0 0;
          display: flex;
          color: #000;
          align-items: flex-end;
          justify-content: end;

          /* text/title/Title 1 */
          font-family: Pretendard;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 3.6rem */
          letter-spacing: 0.0137rem;

          .comparisondetail__toggle__select {
            position: absolute;
            right: -4rem;
            top: -2.4rem;
          }
        }
      }
    }
  }
}

.comparison__makes {
  width: auto;
  height: auto;
  position: relative;

  .comparison__makes__bg {
    z-index: 0;
    position: absolute;
    top: -50px;
    right: 30%;

    &__icon2 {
      position: absolute;
      right: -30px;
    }
  }
}
